*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*body*/
body {
  color: #434455;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
main {
  margin-top: 0px;
}
img {
  display: block;
}
/*h1-3'*/
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
h2 {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
h3 {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*lists*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/*text*/
p {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-box {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.logo {
  display: block;
  margin: 0 76px 0 0;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-studio {
  margin-left: 0px;
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-list {
  display: flex;
  gap: 40px;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.nav-item {
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: block;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.nav-item:hover::after,
.nav-item:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-address {
  font-style: normal;
}
.header-address-list {
  display: flex;
  gap: 40px;
  margin-top: 0px;
  margin-left: 332px;
}
.address-item {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
  color: #404bbf;
}
/*section 1 landing*/
.section-landing {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.landing-container {
}
.langing-header {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0714;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
}
.landing-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.landing-button:hover,
.landing-button:hover:focus {
  background-color: #404bbf;
}
/*section 2 SPDT*/
.section-spdt {
  background-color: #fff;
  padding: 120px 0px;
}
.spdt-list {
  display: flex;
  gap: 24px;
}
.spdt-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.spdt-container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
}
.spdt-icon {
  fill: #2e2f42;
}
.spdt-header {
  margin-bottom: 8px;
}
.spdt-paragraph {
  margin: 0;
}
/*section 3 Our Team*/
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-header {
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-list {
  background: #fff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-box {
  padding: 32px 0;
}
.team-list-header {
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}
.team-list-paragraph {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding-bottom: 8px;
}
.team-container-socials {
}
.team-social-icon {
  fill: #f4f4fd;
}
.team-ul-socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-ul-list {
  width: 40px;
  height: 40px;
}
.team-ul-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-ul-list-link:hover {
  background-color: #404bbf;
}
.team-ul-list-link:focus {
  background-color: #404bbf;
}
/*section 4 Portfolio*/
.section-portfolio {
  background-color: #fff;
  padding: 120px 0 120px 0;
}
.portfolio-header {
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}
.portofolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  background: var(--WHITE, #fff);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-list:hover .portfolio-image-paragraph {
  transform: translatey(0);
}
.portfolio-image-container {
  position: relative;
  overflow: hidden;
}
.portfolio-image-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  margin: 0;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-header-list {
  color: #2e2f42;
  line-height: 1.2;
  margin-bottom: 8px;
}
.portfolio-paragraph {
  line-height: 1.5;
  margin: 0;
}
/*footer*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-box {
  display: flex;
  align-items: baseline;
  padding: 0 0 0 156px;
  margin: 0;
}
.footer-box-logo {
  margin-right: 120px;
  min-width: 264px;
}
.footer-logo-studio {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1, 67;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
}
.footer-box-social-media {
  margin-right: 80px;
}
.footer-social-header {
  color: var(--WHITE, #fff);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  margin-top: 0;
}
.footer-social-ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-social-li {
  width: 40px;
  height: 40px;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-social-li-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-li-link:hover,
.footer-social-li-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe-box {
}
.footer-subscribe-paragraph {
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-top: 0px;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-label {
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--WHITE, #fff);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  padding-left: 16px;
}
.footer-subscribe-btn {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  /* Button Text */
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  cursor: pointer;
}
.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}
/*Main backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop-is-open {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/*backdrop modal*/
.backdrop-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  margin: 0;
  margin-left: auto;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  background-color: #404bbf;

  border: none;
}
.modal-btn:focus {
  background-color: #404bbf;

  border: none;
}

.modal-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-icon {
  fill: #ffffff;
  stroke: #ffffff;
}
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
  stroke: #ffffff;
}

.modal-paragraph {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.modal-form {
}
.modal-label {
  display: block;
  flex-direction: column;
  margin-bottom: 4px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-form-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}
.modal-field {
  position: relative;
  margin-bottom: 8px;
}
.modal-wrapper {
  margin-bottom: 8px;
}
.modal-wrapper-end {
  margin-bottom: 16px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-agreement {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.modal-input-checkbox:checked
  + .modal-label-user-privacy
  > .modal-span-user-privacy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-input-checkbox:checked {
}
.modal-input-checkbox:hover {
  fill: var(--OCEAN, #404bbf);
  stroke-width: 1px;
  stroke: var(--OCEAN, #404bbf);
}
.modal-input-checkbox:focus {
  fill: var(--OCEAN, #404bbf);
  stroke-width: 1px;
  stroke: var(--OCEAN, #404bbf);
}
.modal-label-user-privacy {
  margin: 0;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}
.modal-icon-checkbox {
  margin-right: 8px;
}
.modal-span-user-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-link-privacy {
  color: #4d5ae5;
}
.modal-send-btn {
  display: block;
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}
